html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #020403;
    position: relative;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}


/* ********************************************************** */

nav {
    text-align: right;
    padding-top: .5rem;
    background-color:#020403;
    top: 0;
    margin-bottom: 3.5rem;
    z-index: 1000;
}

.nav__ul {
    text-align: center;
    list-style: none;
    position: absolute;
    background-color:#020403;
    margin: 0;
    left: 0;
    right: 0;
    top: 100%;
}

nav li {
    padding: .4rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

nav a:hover {
    color: #adadad;
}

.hidden {
    display: none;

}

nav > button{
    border: 0;
    background-color: transparent;
    color: #ffffff;
}


/* 
***************************************************** */


.container01 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    z-index: -999;
}

.container01__img {
    margin: auto;
    width: 10rem;
}

.container01__text {
    margin: 0 auto;

}

.text_h3 {
    margin: 5px auto 0px;
    font-size: 1.563rem;
    color: white;
    text-align: center;
}

.text_h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0px auto 10px;
    width: 20rem;
}

.vector__img {
    position: absolute;
    z-index: -999;
    bottom: -1rem;
   width: 100%;
}

.vector__img2{
    position: absolute;
    width: 100%;
    z-index: -980;
    align-items: center;
    
}

 .container__redes {
     text-align: center;
     margin-bottom: 12.25rem;
     
 }

 .redes__img {
     margin: 0px 5px;
 }

 /* ******************************************************** */

 .acerca__de__mi {
     text-align: center;
     width: 92%;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     font-weight: bold;
 }

 .acerca__de__mi h2 {
     font-size: 1.7rem;
 }

 .acerca__de__mi p {
     color: #adadad;
     
 }


 /* ****************************************************** */

 .mis__habilidades {
     margin: 1.875rem auto;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
     color: #ffffff;
     font-weight: bold;
     position: relative;
     overflow: hidden;
 }

 .mis__habilidades h2 {
     font-size: 1.7rem;
 }



 .habilidades__img {
     text-align: center;
     display: block;
     position: relative;
     margin-bottom: 30px;


 }
.img_p_js {
    width: 2.7rem;
    height: 2.7rem;
    top: 1.4rem;
}
.img_p_css {
    width: 2.8rem;
    height: 2.8rem;
    top: 1.4rem;
}
.img_p_html {
    width: 3rem;
    height: 3rem;
    top: 1.4rem;
}
.img_p_web {
    width: 3.6rem;
    height: 3.6rem;
    top: 1rem;
}

 .habilidades__img img {
     position: relative;
   
 }
  .backgroud__img {
    height: 5.5rem;
    width: 5.5rem;
    background-color:#1C1616;
    margin: auto;
    border-radius: 50%;
    position: relative;
    bottom: .5rem;
}
 
 .mis__habilidades span {
     display: block;
     position: relative;
 }

i {
    font-size: 49px;
    position: relative;
    top: 22px;
}

 .vector__img3 {
     position: absolute;
     width: auto;
     height: 30%;
     z-index: -970;
     
 }
/* 
 **************************************************************** */
 .content__exp {
    position: relative;
}
 
 .exp__tittle {
    font-size: 1.3rem;
    margin: auto;
    text-align: center;
}

table, tr, td {
    margin: auto;
    border-collapse: collapse; 
    height: 35px;
}
.bor {
    border-bottom: 1px solid #adadad;
    padding: 0;
}
.bold {
    font-weight: bold;
}
.container-exp {
    width: 100%;
    margin: auto;
}
.width-cell40 {
    width: 140px;
    margin-bottom: 15px;
}
.width-cell60 {
    width: 210px;
    margin-bottom: 15px;
}
.color-cell {
    color: #adadad;
}
.place {
    position: relative;
    bottom: 17px;
}

.vector__img4 {
    position: absolute;
    z-index: -960;
    width: 140px;
    
} 

/* **************************************************************************** */

.content__folio__img {
    display: flex;
    flex-direction: column;
}



.content__folio h2 {
    text-align: center;
    font-size: 1.9rem;
}

.content__img img {
    width: 350px;
    height: 260px   ;
}

.content__img {
    margin: auto;
    text-align: center;
    align-items: center;
    width: auto;
}

/* 
****************************************************************************************** */

.content__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

.contact__tittle {
    text-align: center;
    font-size: 1.3rem;
}

.content__contacts img {
    position: relative;
    top: 1.5rem;
}

.content__contacts span {
    font-weight: bold;
    position: relative;
}

.content__contacts p {
    margin-top: 3px;
    position: relative;
}


.contact__item {
    color: #adadad;
}

.contact__img {
    width: 5.5rem;
    height: 5.5rem;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #adadad;
    margin-bottom: .5rem;
    text-align: center;
    position: relative;
}

/* ********************************************************************** */

footer  {
    color: #adadad;
    display: flex;
    text-align: center;
    margin: 1.8rem auto;
    justify-content: center;
}

/* ********************************************************************************* */

